<ul id="domains">
	<li class="selected">
		<%= image_tag parent.icon_url, :width => 60, :height => 60 %>
		<h1><%= link_to parent.to_s, domain_bookmarks_path(parent) %></h1>
		<ul id="bookmarks">
			<%= render :partial => 'bookmark', :collection => collection %>
		</ul>
	</li>
</ul>